/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

/*
Colors

Background color: #3d4453
Text color: #f9f9f9
Font: Montserrat
Font size: 16px
Button: #357b70
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Declared CSS variables */
:root {
    --primary-color: #f9f9f9;
    --secondary-color: #357b70;
    --main-background-color: #3d4453;
    --light-red: #cc6464;
    --main-font-weight: 700;
    --grid-item-color: #8a8a8a;
    --dark-color: #0000004d;
    --sun-main-color: #edc655;
    --sun-secondary-color: #fcffad;
    --sun-alternate-color: #f76414;
    --footer-image-filter: invert(100%) sepia(3%) saturate(122%) hue-rotate(335deg) brightness(111%) contrast(95%);
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: var(--main-background-color);
    color: var(--primary-color);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/* Styling for header elements */
h1 {
    font-size: 30px;
    font-weight: var(--main-font-weight);
}
h2 {
    font-size: 24px;
    font-weight: var(--main-font-weight);
}
h3 {
    font-size: 18px;
    font-weight: var(--main-font-weight);
}
/* Styling for hyperlinks */
a {
    color: var(--primary-color);
}
a:visited {
    color: var(--primary-color);
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    color: var(--primary-color);
}
/* Styling for button elements */
button {
    border: none;
    font-family: inherit;
    background-color: var(--light-red);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--dark-color);
}
button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}
/* Styling for nav menu */
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    -webkit-transition: 2s content;
    transition: 2s content;
    background-color: inherit;
    padding: 10px;
    border-radius: 15px;
}
.navigation-list_item {
    text-decoration: none;
    -webkit-transition: border .8s;
    transition: border .8s;
    border-radius: 15px;
    padding: 10px;
}
li .navigation-list_item--active {
    border-radius: 15px;
    padding: 10px;
    border-bottom: 1px solid var(--light-red);
    -webkit-animation: 4s menubar-animation infinite alternate;
            animation: 4s menubar-animation infinite alternate;
}
.navigation-list_item:hover,
.navigation-list_item:focus {
    border: 1px solid var(--light-red);
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 20px;
    background-color: var(--dark-color);
}
.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
/* Contact information styles */
.contact-info a {
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.contact-info a:hover,
.contact-info a:focus,
.contact-info a:nth-child(1):hover::before,
.contact-info a:nth-child(1):focus::before {
    color: var(--light-red);
    content: "📱";
}
.contact-info a:hover,
.contact-info a:focus,
.contact-info a:nth-child(3):hover::before,
.contact-info a:nth-child(3):focus::before {
    color: var(--light-red);
    content: "⌨️";
}
.contact-info a:hover,
.contact-info a:focus,
.contact-info a:nth-child(5):hover::before,
.contact-info a:nth-child(5):focus::before {
    color: var(--light-red);
    content: "📧";
}
/* Contact page form styles */
.mainCont {
    text-align: center;
    line-height: 30px;
}
#contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% auto;
    max-width: 75%;
    text-align: center;
    background-color: var(--dark-color);
    border-radius: 15px;
    padding: 2%;
}
input[type="email"] {
    width: 25%;
    margin: 10px auto;
    border-radius: 10px;
}
input[type="tel"] {
    width: 25%;
    margin: 10px auto;
    border-radius: 10px;
}
textarea[name="message"] {
    width: 35%;
    margin: 10px auto;
    border-radius: 10px;
}
input[type="submit"] {
    width: 150px;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
    cursor: pointer;
    background-color: var(--light-red);
}
/* Homepage button styles */
.contact-btn-index {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 0 1% 1%;
    background-color: var(--light-red);
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}
.contact-btn-index:hover,
.contact-btn-index:focus {
    background-color: var(--secondary-color);
}
.contact-btn-index-secondary {
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}
.contact-btn-index-secondary:hover,
.contact-btn-index-secondary:focus {
    background-color: var(--light-red);
}
/* Style for HTML body */
.profile_portrait {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.profile-content {
    padding: 5% 0 0 0;
}
.profile {
    max-width: 700px;
    margin: 5% auto;
    text-align: center;
    line-height: 25px;
}
/* Styles for footer */
.page-footer {
    clear: both;
    text-align: center;
    background-color: var(--dark-color);
    max-width: 100%;
    padding: 1%;
    margin-top: 10%;
}
.copyright-text {
    font-size: 10px;
}
.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.upwork-logo {
    -webkit-filter: var(--footer-image-filter);
            filter: var(--footer-image-filter);
}
.linkedin-logo {
    -webkit-filter: var(--footer-image-filter);
            filter: var(--footer-image-filter);
}
.facebook-logo {
    -webkit-filter: var(--footer-image-filter);
            filter: var(--footer-image-filter);
}
/* Styles for grid layout */
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 1%;
}
.grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.grid_item {
    background-color: var(--grid-item-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 5%;
    border-radius: 15px;
}
.grid_item a {
    text-decoration: none;
    background-color: var(--light-red);
    padding: 2% 4% 2% 4%;
    border-radius: 15px;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}
.grid_item a:hover,
.grid_item a:focus {
    background-color: var(--secondary-color);
}
.main-content {
    text-align: center;
    margin: 15% auto;
    background-color: var(--dark-color);
    width: 75%;
    padding: 2%;
    border-radius: 15px;
}
/* Interest list styles on about page */
.interests-list {
    list-style-type: none;
    margin: 5% 0 5% 0;
    line-height: 25px;
}
.interests-list_item:first-child:after {
    content: " 💻";
}
.interests-list_item:nth-child(2):after {
    content: " 📈";
}
.interests-list_item:nth-child(3):after {
    content: " 🎸";
}
.interests-list_item:nth-child(4):after {
    content: " 🧠";
}
/* Skills table styles on about page */
.skills-table {
    margin: 20px auto;
    text-align: center;
    margin: 5% auto;
    line-height: 30px;
    letter-spacing: 1px;
    background-color: var(--light-red);
    padding: 5%;
    border-radius: 15px;
    max-width: 50%;
}
.table-row {
    border-bottom: 1px solid black;
}
.progress-bar-html {
    background: -webkit-gradient(linear, left top, right top, color-stop(100%, var(--dark-color)), color-stop(5%, var(--light-red)));
    background: linear-gradient(to right, var(--dark-color) 100%, var(--light-red) 5%);
}
.progress-bar-css {
    background: -webkit-gradient(linear, left top, right top, color-stop(97%, var(--dark-color)), color-stop(5%, var(--light-red)));
    background: linear-gradient(to right, var(--dark-color) 97%, var(--light-red) 5%);
}
.progress-bar-javascript {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--dark-color)), color-stop(50%, var(--light-red)));
    background: linear-gradient(to right, var(--dark-color) 50%, var(--light-red) 50%);
}
.progress-bar-scss {
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, var(--dark-color)), color-stop(50%, var(--light-red)));
    background: linear-gradient(to right, var(--dark-color) 65%, var(--light-red) 50%);
}
/* Styles for button elements */
button,
.button1 {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--light-red);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--dark-color);
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
button:hover,
button:focus,
.button1:hover,
.button1:focus {
    cursor: pointer;
    opacity: 0.8;
}
/* About page house */
.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}
.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}
/* About page house animations */
@-webkit-keyframes color-change {
    0% {
        fill: var(--sun-main-color);
    }
    50% {
        fill: var(--sun-secondary-color);
    }
    100% {
        fill: var(--sun-alternate-color);
    }
}
@keyframes color-change {
    0% {
        fill: var(--sun-main-color);
    }
    50% {
        fill: var(--sun-secondary-color);
    }
    100% {
        fill: var(--sun-alternate-color);
    }
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
/* Navigation bar animation */
@-webkit-keyframes menubar-animation {
    from {
        border-bottom: 1px solid var(--light-red);
    }
    to {
        border-bottom: 1px solid var(--sun-alternate-color);
    }
}
@keyframes menubar-animation {
    from {
        border-bottom: 1px solid var(--light-red);
    }
    to {
        border-bottom: 1px solid var(--sun-alternate-color);
    }
}

/* grid fallback */
@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }
}

/* Media queries */
@media all and (min-width: 319px) and (max-width: 380px) {
    .page-header {
        top: 0;
        max-width: 100%;
        margin: 0;
        text-align: center;
        padding: 20px;
        background-color: var(--dark-color);
    }
    .page-header_item {
        display: block;
        text-align: center;
        max-width: 100px;
    }
    .navigation-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .navigation-list li {
        position: relative;
        margin: 0;
        max-width: 105px;
    }
    .navigation-list_item {
        display: block;
        font-size: 10px;
    }
    input[type="email"] {
        width: 75%;
    }
    input[type="tel"] {
        width: 75%;
    }
    textarea[name="message"] {
        width: 75%;
    }
    .header-item {
        margin: 0;
        max-width: 100%;
    }
    .profile {
        margin: 25% auto;
        text-align: center;
        line-height: 25px;
    }
    .grid {
        grid-gap: 20px;
        padding: 1%;
    }
    .grid_item {
        margin: 5px;
        padding: 10%;
    }
    .grid_item a {
        padding: 2% 5% 2% 5%;
        width: 15px;
        font-size: 12px;
    }
}
@media all and (max-width: 511px) {
    .skills-table {
        display: none;
    }
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
        font-size: 22px;
    }
}
@media all and (min-width: 700px) and (max-width: 1200px) {
    .contact-btn-index-secondary {
        max-width: 350px;
    }
    .profile {
        margin: 15% auto;
    }
}